{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h1>ToDo</h1>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
        <form method="POST" class="'p-3 shadow">
         {% csrf_token %}
            <div class="form-group">
                 <input type="text" class="form-control" name="task" placeholder="enter task name">

             </div>
             <div class="form-group">
                <input type="text" class="form-control" name="priority" placeholder="enter your priority">

             </div>
             <div class="form-group">
                <input type="date" class="form-control" name="date" placeholder="enter your date">

             </div>

             <input type="submit" class="btn btn-success">

         </form>





    </div>
        <div class="col-md-6">
             {% for i in task %}
            <div class="shadow card" >
  <div class="card-body">
    <h5 class="card-title">Task to be completed</h5>
    <h6 class="card-subtitle mb-2 text-muted"> {{i.name}}</h6>
    <p class="card-text"><b>{{i.priority}}</b></p>
      <p class="card-text">{{i.date}}</p>

    <a href="{% url 'delete' i.id %}" class="btn btn-danger">DONE</a>
          <a href="{% url 'update' i.id %}" class="btn btn-success">Edit</a>

  </div>
</div>
            {% endfor %}
        </div>
</div>
</div>


{% endblock %}
